// z-index
$z-footer: 10;
$z-header: 100;
$z-menu: 99;

// Colors
$c-white: #fff;
$c-white-bg: #f5f5f7;
$c-white-bg-2: #f8f8f8;
$c-darkest: #000;
$c-black: #333;
$c-black-l: #393939;
$c-black-l-2: #5c646c;
$c-black-border: #555;
$c-text: #4b4b5d;
$c-dark-bg: #1c1f21;
$c-dark-bg-2: #202427;
$c-dark: rgb(28, 44, 43);
$c-gr-01: #6b9cde;
$c-gr-02: #6bcfe1;
$c-main: #6bbce1;
$c-link: #396beb;
$c-error: #e70000;
$c-acc: #ffb93b;

$c-shadow: rgba(127, 163, 204, 0.1);
$c-shadow-text: rgba(0, 0, 0, 0.1);

// Fonts
$font-base: "Noto Sans JP Variable", sans-serif;
$font-manrope: "Manrope Variable", sans-serif;
