---
import { Image } from "astro:assets";
import logoMain from "@/assets/img/common/logo-main.svg";
import logoWhite from "@/assets/img/common/logo-white.svg";

// 現在のページがトップページかどうかチェック
const isTopPage = Astro.url.pathname === "/";
---

<header class="header js-header">
  <div class="inner">
    <a href="/" class="logo">
      <Image src={logoMain} alt="ECHive" />
      <Image src={logoWhite} alt="ECHive" />
    </a>
    <nav class="nav">
      <ul class="list">
        <li>
          <a href={isTopPage ? "#feature" : "/#feature"}>選ばれる理由</a>
        </li>
        <li>
          <a href={isTopPage ? "#plan" : "/#plan"}>料金プラン</a>
        </li>
        <li>
          <a href={isTopPage ? "#demo" : "/#demo"}>デモサイト</a>
        </li>
        <li>
          <a href={isTopPage ? "#flow" : "/#flow"}>制作の流れ</a>
        </li>
        <li>
          <a href={isTopPage ? "#faq" : "/#faq"}>よくあるご質問</a>
        </li>
      </ul>
      <a href={isTopPage ? "#contact" : "/#contact"} class="btn">
        お問い合わせ
      </a>
    </nav>

    <button
      class="menu-btn js-menu-btn"
      aria-label="メニュー"
      aria-expanded="false"
      aria-controls="menu"
    >
      <span></span>
    </button>
  </div>
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    z-index: var.$z-header;
  }

  .inner {
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    @include mixin.tab {
      padding: 2rem 3rem;
    }

    @include mixin.sp {
      padding: 1.2rem 2rem;
    }
  }

  .logo {
    position: relative;
    width: 16rem;
    height: 4.4rem;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    pointer-events: auto;

    @include mixin.sp {
      width: 12rem;
      height: 3.3rem;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 0.3s;

      &:nth-child(1) {
        opacity: 1;
      }

      &:nth-child(2) {
        opacity: 0;
      }
    }

    @include mixin.hover {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    pointer-events: auto;

    @include mixin.tab {
      display: none;
    }
  }

  .list {
    display: flex;
    gap: 2.4rem;
    flex-shrink: 0;

    li {
      flex-shrink: 0;
    }

    a {
      font-weight: bold;
      font-size: 1.5rem;
      color: #314156;
      transition: color 0.3s;

      @include mixin.hover {
        &:hover {
          color: var.$c-main;
        }
      }
    }
  }

  .btn {
    width: 14rem;
    height: 4.4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var.$c-main;
    color: var.$c-white;
    font-weight: bold;
    border-radius: 0.3rem;
    border: 0.1rem solid var.$c-main;
    font-size: 1.4rem;
    margin-left: 2.4rem;
    transition: all 0.3s;

    @include mixin.hover {
      &:hover {
        background-color: var.$c-white;
        color: var.$c-main;
      }
    }
  }

  .menu-btn {
    position: relative;
    display: none;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: var.$c-black;
    color: var.$c-white;
    pointer-events: auto;
    border-radius: 0.3rem;
    cursor: pointer;

    @include mixin.tab {
      display: flex;
    }

    span,
    &::before,
    &::after {
      content: "";
      display: block;
      width: 2.4rem;
      height: 0.1rem;
      background-color: var.$c-white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: transform 0.3s;
    }

    span {
    }

    &::before {
      transform: translateY(-0.6rem);
    }

    &::after {
      transform: translateY(0.6rem);
    }

    &[aria-expanded="true"] {
      span {
        opacity: 0;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .header.header-theme-white {
    .logo {
      img {
        &:nth-child(1) {
          opacity: 0;
        }

        &:nth-child(2) {
          opacity: 1;
        }
      }
    }

    .list a {
      color: var.$c-white;
    }
  }
</style>

<script>
  import { initHeader, initHamburgerMenu } from "@/scripts/header";

  document.addEventListener("DOMContentLoaded", () => {
    initHeader();
    initHamburgerMenu();
  });
</script>
