---
import Container from "@/components/common/Container.astro";
import Breadcrumb from "@/components/layout/Breadcrumb.astro";
const { en, jp, breadcrumbPaths, class: className, ...rest } = Astro.props;
---

<section class="mv">
  <Container>
    <div class="content">
      <div class="en">{en}</div>
      <h1 class="jp">{jp}</h1>

      <Breadcrumb paths={breadcrumbPaths} class="breadcrumb" />
    </div>
  </Container>
</section>

<style lang="scss">
  .mv {
    padding: 16rem 0 2.4rem;
  }

  .content {
  }

  .en {
    color: var.$c-main;
    font-family: var.$font-manrope;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-align: center;

    @include mixin.sp {
      font-size: 1.4rem;
    }
  }

  .jp {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.6rem;
    text-align: center;

    @include mixin.sp {
      font-size: 3rem;
    }
  }

  .breadcrumb {
    margin-top: 10rem;
  }
</style>
